@import "../../styles/utils.css";

.search__selectedFilter {
  justify-self: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 135px;
  height: 44px;
  font-size: 0.87rem;
  color: var(--gray-bg-light);
  background: var(--green-bg-dark-alpha);
  border-radius: 25px;
  border: 1px solid var(--green-bg-medium);
}

.search__selectedFilter {
  justify-self: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 135px;
  height: 44px;
  font-size: 0.87rem;
  color: var(--gray-bg-light);
  background: var(--green-bg-dark-alpha);
  border-radius: 25px;
  border: 1px solid var(--green-bg-medium);

  &.active {
    color: var(--green-primary);
    border-color: var(--green-primary);
  }
}

.search__selectedFilter svg {
  width: 20px;
  height: 20px;
}
