@import "../../styles/utils.css";

:root {
  --padding-block: 14px;
}
/*Card*/
.jobs__card {
  display: grid;
  width: 100%;
  max-width: 395px;
  padding: 1rem;
  background-color: var(--green-bg-dark-alpha);
  border-radius: 15px;
  border: 1px solid var(--green-bg-medium);
}
.jobs__header {
  position: relative;
  display: flex;
  gap: 1.2rem;
  max-height: 70px;
}
.jobs__image {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 8px;
}
.jobs__level {
  max-width: 226px;
  font-size: 1.21rem;
  padding-bottom: 2px;
}
.jobs__location {
  font-size: 0.87rem;
  font-weight: 300;
  color: var(--green-bg-light);
}
.jobs__iconSave {
  position: absolute;
  top: 0;
  right: -8px;
  transition: all 0.2s ease-in-out;
  &:hover {
    cursor: pointer;
  }
  &.jobs__iconSave--active > path {
    fill: var(--green-primary);
  }
}
.jobs__description {
  margin-top: var(--padding-block);
}
.jobs__description h2 {
  font-size: 0.91rem;
  text-transform: uppercase;
  color: var(--green-bg-light);
  padding-bottom: 3px;
}
.jobs__description p {
  font-size: 0.8rem;
}
.jobs__technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  max-width: 330px;
  padding-top: var(--padding-block);
}
.jobs__technologies p {
  font-size: 0.9rem;
  color: var(--green-primary);
  padding: 4px 10px;
  background-color: var(--green-bg-dark);
  border-radius: 5px;
}

.jobs__footer {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-top: var(--padding-block);
}
.jobs__info {
  display: flex;
  gap: 25px;
  margin-top: var(--padding-block);
}
.jobs__info span {
  text-align: center;
}
.jobs__infoH3 {
  font-size: 0.91rem;
  color: var(--green-bg-light);
  text-transform: uppercase;
  padding-bottom: 3px;
}
.jobs__info span p {
  font-size: 0.9rem;
}
.jobs_buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.jobs__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  width: 48%;
  height: 45px;
  font-size: 1rem;
  font-weight: 700;
  color: var(--green-bg-dark);
  background-color: var(--green-primary);
  border-radius: 10px;
  border: none;
  transition: all 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    transform: scale(0.98);
  }
  &.jobs__button--active {
    background-color: var(--green-bg-medium);
  }
}

@media (min-width: 930px) {
  /*Jobs*/
  .jobs__level {
    max-width: 250px;
  }
  .jobs__texts h2 {
    font-size: 1.2rem;
  }
  .jobs__recent p {
    font-size: 1.1rem;
  }
}
