/*Results Filter*/
.appliedFiltersContainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(140px, 150px));
  justify-content: center;
  width: 100%;
  margin-top: 4.5rem;
}
