@import "../../styles/utils.css";

/*Select*/
.select-wrapper {
  position: relative;
  height: 40px;
  width: 175px;
}
.select-wrapper::after {
  content: "▾";
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #9ca3af;
}
.selectFilter {
  width: 100%;
  height: 100%;
  font-size: 0.9rem;
  font-family: inherit;
  color: var(--gray-bg-light);
  padding: 10px 14px;
  border-radius: 6px;
  border: 1px solid var(--green-primary-alpha);
  background-color: var(--green-bg-dark);
  appearance: none;
  cursor: pointer;
  outline: none;
  transition: border 0.2s ease-in-out;
  &:focus {
    border-color: var(--green-bg-medium);
  }
}
