@import "../../styles/utils.css";

.jobDetails__content {
  padding-top: 1.7rem;
  justify-self: start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 730px;
}

.jobDetails__contentList {
  display: grid;
  gap: 13px;
}

.jobDetails__contentLi {
  display: grid;
  grid-template-columns: 27px 1fr;
  align-items: center;
  gap: 13px;
  color: var(--gray-bg-light);
}
