@import "../../styles/utils.css";

:root {
  --menuBar: url("./icons/menuBar.svg");
  --menuClose: url("./icons/menuClose.svg");
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 90;
  height: 70px;
  background-color: var(--green-bg-dark);
  border-bottom: 1px solid var(--bg-slate-900);
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
/*Nav*/
.nav {
  display: none;
  position: absolute;
  z-index: 20;
  inset: 0;
  background-color: var(--green-primary-alpha);
}
.nav--activated {
  display: flex;
}
.nav__list {
  position: relative;
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100%;
  width: 100%;
  background-color: var(--green-bg-dark);
}
.nav__li {
  display: flex;
  align-items: center;
  gap: 3px;
  width: 100px;
}
.nav__link {
  order: 2;
  font-size: 0.94rem;
  color: var(--gray-bg-light);
  transition: color 0.2s ease-in-out;
}
.nav__link.active {
  color: var(--green-primary);
}
.nav__link.active ~ .nav__icon path {
  fill: var(--green-primary);
}
.nav__icon {
  width: 28px;
  order: 1;
}
.nav__icon path {
  transition: fill 0.2s ease-in-out;
}
/*Logo*/
.header__logo {
  display: flex;
  align-items: center;
  color: var(--white);
  gap: 1rem;
}
.header__iconLogo {
  width: 43px;
  height: 38px;
  padding: 5px;
  background-color: var(--green-primary-alpha);
  border-radius: 7px;
}
/*Icons*/
.header__icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header_labelContent {
  position: relative;
}
.header_iconBell {
  order: 1;
  width: 40px;
  height: 40px;
  padding: 8px;
}
.header__checkBox {
  position: absolute;
  opacity: 0;
}
.header_iconMenu {
  position: relative;
  z-index: 60;
  order: 2;
  width: 35px;
  height: 35px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in-out;
}
.header_iconMenuBar {
  background-image: var(--menuBar);
}
.header_iconMenuClose {
  background-image: var(--menuClose);
}

@media (min-width: 930px) {
  .header {
    height: 65px;
  }
  .header__container {
    display: grid;
    grid-template-columns: 280px 2fr 100px;
    gap: 1.5rem;
    justify-items: center;
  }
  /*Nav*/
  /*Nav*/
  .nav {
    display: flex;
    position: relative;
    width: 100%;
    background-color: transparent;
  }
  .nav__list {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    background-color: var(--green-bg-dark);
  }
  .nav__li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    width: 100px;
  }
  .nav__link:hover {
    color: var(--green-primary);
  }
  .nav__link:hover ~ .nav__icon path {
    fill: var(--green-primary);
  }
  /*Logo*/
  .header__logo {
    justify-self: start;
  }
  /*Icons*/
  .header__icons {
    justify-self: end;
  }
  .header_iconMenu {
    display: none;
  }
}
